main{
    height: 100vh;
    background-color: #46CFBD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signcontainer h1{
    color:#fff;
    margin-bottom: 20px;
}
#started{
    cursor:pointer;
    background-color: #fff;
    color:#46CFBD;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
}