#btn-logout{
    background-color: #fff;
    color:#46CFBD;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}
#btn-logout .fa-brands{
    color: #46CFBD;
    font-size: 14px;
    padding-right: 10px;
    padding-top: 2px;
}

@media screen and (max-width:450px) {
    #btn-logout {
        display: none;
       
    }
}