#btn-logout{
    background-color: #fff;
    color:#46CFBD;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

