#btn-logout{
  margin-top:15px;
  margin-left:20px;
  cursor:pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color:#46CFBD;
  padding: 10px;
  height:20px;
}

/* @media screen and (max-width:450px){
  margin-left:-50%;
} */