nav {
    width: 100vw;
    background-color: #46CFBD;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;

}
.content{
    display: flex;
    text-decoration: none;
    padding-left: 50px;

}

.title{
    color:#fff;
    font-size: 26px;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 10px;
}
.logo{
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
   

}
.avatar-bloc{
    width: 20%;
    display: flex;
    flex-direction: row;
}
.bell{
    width:10%;
    padding-top: 25px;
    padding-left: 45%;

}
.bell > span > i {
    color:#fff;
    font-size: 20px;
}
.avatar{
    width:50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 50px;

}
.avatar-user{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (max-width: 450px) {
    nav{
        width: 100vw;
    }
    .search-bar > input{
        display: none;
    }
    .search-bar> button{
        background-color:#fff;
        font-size: 25px;
        margin: 0;
        padding: 5px;
        border-radius: 50px;

    }
    .logo{
        height: 60px;
        margin-left: -50px;
        padding-top: 10px;
       
    
    }
   
    .title{
        font-size: 30px;
        padding-left: 8px;
        padding-top: 20px;
    }
    .bell{
        width:5%;
        padding-top: 25px;
        margin-left: -50px;
        margin-right: 0;
    }
    .avatar{
        display: none;
    }
    
}