.vidvicontainer{
  width: 78vw;
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);

}
.vidvicontainer a{
  text-decoration: none;
}
.vidvicontent{
  position: fixed;
  margin-left: 20%;
  grid-column: 1 / 3;
  grid-row: 1;
}
.ListeVideo{
  margin-left:80%;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  width: 20vw;

}

.ListeVideo img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px  0px;
}
.comment{
 padding-top: 95%;
 padding-left: 78%;
}
/*  .vidvicontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 78vw;
  padding-left: 5%;
  padding-top: 90px;

}
.vidvicontainer a{
  text-decoration: none;
}
.ListeVideo{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20vw;
  margin-left:95%;
}
.videoCard{
  border: 2px solid #007464;
  border-radius: 10px;
  width: 20vw;
  height: 250px;
  margin-bottom: 20px;
}
.ListeVideo img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px  0px;
}

.vidvicontent{
  position: fixed;
}
.comment{
 position: relative;
 border: red 1px solid;
}

@media screen  and (max-width:450px){
  .vidvicontainer{
    flex-direction: column;
    padding: 0;
  }
  .ListeVideo{
      margin: 0;
      padding-left: 0;
      padding: 0;
      display: grid;
      grid-template-columns: auto;
      width: 100vw;
      padding-bottom: 90px;

  }
  .videoCard{
    padding:0;
    margin: 0;
    width: 100vw;
    border-radius: 10px;
    height: 40vh;
  }
  .videoRow:hover{
      transition: all ease-in-out 0.1s;
      transform:none;
  }
  .vidvicontent{
    padding-top: 71px;
    position: static;
  }
  .texte h3,p{
    font-size: medium;
  }
}



  */