.vidvicontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 78vw;
  padding-left: 17%;
  padding-top: 90px;

}
.vidvicontainer a{
  text-decoration: none;
}
.ListeVideo{
  width: 20vw;
  margin-left: 30px;
  margin-bottom: 10px;

 
}
.ListeVideo img{
  width: 100%;
  object-fit: cover;
}
.ListeVideo a{
  width: 20vw;
  height: 300px;
 



}
/* @media screen and (max-width:768px) {
 .vidvicontainer{
   width:30%;


   display:grid;
  grid-template-columns:1fr 1fr 1fr;
  
  justify-content:center;
  align-items: flex-start;
  padding-left:18%;
  margin-left: 20%;
  padding-top:100px;
 }
} 
/* width: 78vw; 
display:grid;
grid-template-columns:1fr 2fr;

justify-content:center;
align-items: flex-start;
padding-left:4%;
margin-left: 20%;
padding-top:100px;



*


/